In [3]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [77]:
import os

# Define the path to the OneDrive folder
onedrive_path = os.path.expanduser('/Users/ankitkumar/Library/CloudStorage/OneDrive-GeorgeMasonUniversity-O365Production/HackFax/')


def read_csv_from_onedrive(file_name):
    # Define the path to the specific file within the OneDrive folder
    file_path = os.path.join(onedrive_path, file_name)

    # Read the data into a pandas DataFrame
    df = pd.read_csv(file_path)

    # Display the first few rows of the DataFrame
    return df

# Read the data from the excel file and convert it to a pandas DataFrame
def read_excel_from_onedrive(file_name):
    # Define the path to the specific file within the OneDrive folder
    file_path = os.path.join(onedrive_path, file_name)

    # Read the data into a pandas DataFrame
    df = pd.read_excel(file_path)

    #convert the data to a pandas DataFrame
    df = pd.DataFrame(df)

    # Display the first few rows of the DataFrame
    return df

In [78]:
dataset_1 = read_csv_from_onedrive('samplegeocodiooutput_acseconomics.csv')
dataset_1.head()
# print(dataset_1.columns)

,id,name,address,city,state,zip_code,Latitude,Longitude,Accuracy Score,Accuracy Type,...,Census Block Code,Census Block Group,Full FIPS,Metro/Micro Statistical Area Name,Metro/Micro Statistical Area Code,Metro/Micro Statistical Area Type,Combined Statistical Area Name,Combined Statistical Area Code,Metropolitan Division Area Name,Metropolitan Division Area Code
0,18436,Peregrine Espresso,660 Pennsylvania Ave SE,Washington,DC,20003,38.885172,-76.996565,1.0,rooftop,...,1021,1,110010066001021,"Washington-Arlington-Alexandria, DC-VA-MD-WV",47900,metropolitan,"Washington-Baltimore-Arlington, DC-MD-VA-WV-PA",548,"Washington-Arlington-Alexandria, DC-VA-MD-WV",47894.0
1,18437,Peregrine Espresso,1718 14th St NW,Washington,DC,20009,38.913274,-77.032266,1.0,rooftop,...,4000,4,110010052014000,"Washington-Arlington-Alexandria, DC-VA-MD-WV",47900,metropolitan,"Washington-Baltimore-Arlington, DC-MD-VA-WV-PA",548,"Washington-Arlington-Alexandria, DC-VA-MD-WV",47894.0
2,18438,Peregrine Espresso,1309 5th St NE,Washington,DC,20002,38.908724,-76.997653,1.0,rooftop,...,1019,1,110010088031019,"Washington-Arlington-Alexandria, DC-VA-MD-WV",47900,metropolitan,"Washington-Baltimore-Arlington, DC-MD-VA-WV-PA",548,"Washington-Arlington-Alexandria, DC-VA-MD-WV",47894.0
3,18439,Soho Tea and Coffee,2150 P St NW,Washington,DC,20037,38.909480,-77.048527,1.0,rooftop,...,4000,4,110010055004000,"Washington-Arlington-Alexandria, DC-VA-MD-WV",47900,metropolitan,"Washington-Baltimore-Arlington, DC-MD-VA-WV-PA",548,"Washington-Arlington-Alexandria, DC-VA-MD-WV",47894.0
4,18440,Ebenezers Coffeehouse,201 F Street NE,Washington,DC,20002,38.897139,-77.003286,1.0,rooftop,...,2003,2,110010083012003,"Washington-Arlington-Alexandria, DC-VA-MD-WV",47900,metropolitan,"Washington-Baltimore-Arlington, DC-MD-VA-WV-PA",548,"Washington-Arlington-Alexandria, DC-VA-MD-WV",47894.0

In [79]:
dataset_1.shape

(99, 88)

In [80]:
dataset_2 = read_csv_from_onedrive('ZHVI.csv')
dataset_2.head()

,Unnamed: 0,Virginia,California,Florida,New York,New Jersey,Texas,Michigan,Massachusetts,Arizona,...,Kentucky,Missouri,Kansas,Delaware,Wyoming,Oklahoma,South Dakota,Nebraska,Iowa,Ohio
0,2000-01-01,124221.089506,188275.958362,106961.891667,153909.362354,169782.623604,111198.886345,117557.986101,195594.357299,134715.019862,...,85119.394817,96693.956145,88880.317061,148518.072189,NaN,81843.357765,109129.711149,115831.381330,91848.073983,106354.477198
1,2000-02-01,124542.527988,188908.810055,107193.581081,154457.430871,170240.297980,111259.314692,117622.734233,196247.381793,134959.028367,...,85163.341543,96807.288912,88897.764436,148749.132224,NaN,81877.118358,108897.846566,116016.542581,92023.591340,106419.469431
2,2000-03-01,124883.328235,189763.314808,107474.434834,154985.035203,170676.999964,111288.623387,117859.781604,197024.377894,135273.071795,...,85243.300812,96976.966460,89000.554521,149036.822766,NaN,82034.487297,108573.369238,116188.153006,92189.287083,106518.033598
3,2000-04-01,125527.327356,191618.189838,108045.338277,156119.768693,171644.527155,111434.085040,118331.979034,198554.732577,135914.330376,...,85442.006910,97364.811252,89154.218545,149694.764519,NaN,82321.047885,108136.008600,116454.544459,92547.185353,106807.866287
4,2000-05-01,126149.037966,193774.202640,108660.996118,157293.812224,172630.845053,111528.288287,119028.332431,200211.266155,136641.206047,...,85706.092827,97865.794315,89385.853304,150445.176371,NaN,82705.943318,107954.053794,116589.634091,92942.607678,107249.789064

In [81]:
print(dataset_2.columns)

Index(['Unnamed: 0', 'Virginia', 'California', 'Florida', 'New York',
       'New Jersey', 'Texas', 'Michigan', 'Massachusetts', 'Arizona',
       'Washington', 'Colorado', 'Illinois', 'the District of Columbia',
       'Nevada', 'Hawaii', 'New Hampshire', 'Utah', 'Georgia', 'Montana',
       'Minnesota', 'Louisiana', 'Maryland', 'Pennsylvania', 'South Carolina',
       'North Carolina', 'Vermont', 'Tennessee', 'Oregon', 'New Mexico',
       'Rhode Island', 'Alaska', 'Maine', 'Alabama', 'Wisconsin', 'Arkansas',
       'Mississippi', 'Indiana', 'West Virginia', 'Idaho', 'North Dakota',
       'Connecticut', 'Kentucky', 'Missouri', 'Kansas', 'Delaware', 'Wyoming',
       'Oklahoma', 'South Dakota', 'Nebraska', 'Iowa', 'Ohio'],
      dtype='object')

In [82]:
dataset_2.shape

(296, 52)

In [83]:
dataset_3 = read_csv_from_onedrive('USA-latlon.csv')
dataset_3.head()

   zip_code  latitude   longitude
0       601  18.180555  -66.749961
1       602  18.361945  -67.175597
2       603  18.455183  -67.119887
3       606  18.158345  -66.932911
4       610  18.295366  -67.125135

In [84]:
dataset_3.shape

(33144, 3)

In [85]:
dataset_4 = read_csv_from_onedrive('cost_of_living_us.csv')
dataset_4.head(15)

,case_id,state,isMetro,areaname,county,family_member_count,housing_cost,food_cost,transportation_cost,healthcare_cost,other_necessities_cost,childcare_cost,taxes,total_cost,median_family_income
0,1,AL,True,"Montgomery, AL MSA",Autauga County,1p0c,8505.72876,3454.91712,10829.16876,5737.47984,4333.81344,0.0000,6392.94504,39254.0532,73010.414062
1,1,AL,True,"Montgomery, AL MSA",Autauga County,1p1c,12067.50240,5091.70788,11588.19288,8659.55640,6217.45896,6147.8298,7422.07836,57194.3256,73010.414062
2,1,AL,True,"Montgomery, AL MSA",Autauga County,1p2c,12067.50240,7460.20308,12361.77720,11581.63260,7075.65816,15824.6940,9769.56228,76141.0308,73010.414062
3,1,AL,True,"Montgomery, AL MSA",Autauga County,1p3c,15257.15040,9952.23924,13452.18600,14503.70760,9134.35620,18802.1892,13101.70320,94203.5328,73010.414062
4,1,AL,True,"Montgomery, AL MSA",Autauga County,1p4c,15257.15040,12182.21400,13744.59840,17425.78560,9942.36396,18802.1892,13469.21880,100823.5200,73010.414062
5,1,AL,True,"Montgomery, AL MSA",Autauga County,2p0c,10180.29420,6334.01436,12861.88680,11474.95968,5983.78524,0.0000,8236.73076,55071.6684,73010.414062
6,1,AL,True,"Montgomery, AL MSA",Autauga County,2p1c,12067.50240,7883.31888,13589.11200,14397.03720,7228.96944,6147.8298,9459.90240,70773.6744,73010.414062
7,1,AL,True,"Montgomery, AL MSA",Autauga County,2p2c,12067.50240,9984.05268,14723.60760,17319.11280,7990.14840,15824.6940,11168.75028,89077.8696,73010.414062
8,1,AL,True,"Montgomery, AL MSA",Autauga County,2p3c,15257.15040,12189.77040,14994.60000,20241.18720,9945.10176,18802.1892,13210.14840,104640.1524,73010.414062
9,1,AL,True,"Montgomery, AL MSA",Autauga County,2p4c,15257.15040,14917.35840,15064.26360,23163.26520,10933.41504,18802.1892,13417.21920,111554.8596,73010.414062
10,2,AL,True,"Daphne-Fairhope-Foley, AL MSA",Baldwin County,1p0c,8616.00000,3714.29484,10731.65256,5593.47984,4467.75180,0.0000,6455.71512,39578.8944,77884.757812
11,2,AL,True,"Daphne-Fairhope-Foley, AL MSA",Baldwin County,1p1c,11064.00000,5473.96836,11522.93844,8444.00688,5992.35828,5962.7142,7096.60908,55556.5956,77884.757812
12,2,AL,True,"Daphne-Fairhope-Foley, AL MSA",Baldwin County,1p2c,11064.00000,8020.27812,12869.33520,11294.53344,6914.98608,15348.1992,9477.63648,74988.9672,77884.757812
13,2,AL,True,"Daphne-Fairhope-Foley, AL MSA",Baldwin County,1p3c,14988.00000,10699.40400,13452.96480,14145.06120,9307.55928,18236.0400,12997.84440,93826.8756,77884.757812
14,2,AL,True,"Daphne-Fairhope-Foley, AL MSA",Baldwin County,1p4c,14988.00000,13096.79400,13773.35400,16995.58800,10176.22776,18236.0400,13433.52360,100699.5240,77884.757812

In [86]:
dataset_4.shape

(31430, 15)

In [87]:
# In this dataset, we have state and county which we can use to merge with the other datasets
dataset_4 = dataset_4.dropna()
dataset_4.head()

,case_id,state,isMetro,areaname,county,family_member_count,housing_cost,food_cost,transportation_cost,healthcare_cost,other_necessities_cost,childcare_cost,taxes,total_cost,median_family_income
0,1,AL,True,"Montgomery, AL MSA",Autauga County,1p0c,8505.72876,3454.91712,10829.16876,5737.47984,4333.81344,0.0000,6392.94504,39254.0532,73010.414062
1,1,AL,True,"Montgomery, AL MSA",Autauga County,1p1c,12067.50240,5091.70788,11588.19288,8659.55640,6217.45896,6147.8298,7422.07836,57194.3256,73010.414062
2,1,AL,True,"Montgomery, AL MSA",Autauga County,1p2c,12067.50240,7460.20308,12361.77720,11581.63260,7075.65816,15824.6940,9769.56228,76141.0308,73010.414062
3,1,AL,True,"Montgomery, AL MSA",Autauga County,1p3c,15257.15040,9952.23924,13452.18600,14503.70760,9134.35620,18802.1892,13101.70320,94203.5328,73010.414062
4,1,AL,True,"Montgomery, AL MSA",Autauga County,1p4c,15257.15040,12182.21400,13744.59840,17425.78560,9942.36396,18802.1892,13469.21880,100823.5200,73010.414062

In [88]:
dataset_4.shape

(31420, 15)

In [89]:
dataset_5 = read_csv_from_onedrive('Homevaluesfromzillow.csv')
dataset_5.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,...,2023-12-31,2024-01-31,2024-02-29,2024-03-31,2024-04-30,2024-05-31,2024-06-30,2024-07-31,2024-08-31,2024-09-30
0,102001,0,United States,country,NaN,122086.021122,122300.809571,122567.178873,123138.488742,123795.997905,...,352438.988641,352871.125244,353663.049434,355203.175029,357057.591856,358490.016311,359051.100806,359199.002432,359442.147602,359892.330217
1,394913,1,"New York, NY",msa,NY,217122.541025,218045.189320,218976.383000,220863.341724,222817.352828,...,636012.173657,638910.016157,642966.642072,648387.612667,654515.723240,659189.389934,662279.916065,665035.225532,668789.821153,672829.144441
2,753899,2,"Los Angeles, CA",msa,CA,221698.801779,222523.802610,223622.695850,225809.124252,228200.391475,...,924860.361784,925014.427975,922051.953295,920931.486350,924412.639390,930330.520459,934301.462201,938697.562418,943906.910962,950360.257525
3,394463,3,"Chicago, IL",msa,IL,152707.070761,152848.433024,153117.659942,153787.429609,154593.081957,...,309382.860474,310041.794022,311424.500644,313828.060374,316689.129728,318801.724714,320020.693936,320754.165504,321672.989771,322672.908701
4,394514,4,"Dallas, TX",msa,TX,125949.506035,126005.604384,126070.095181,126237.571004,126458.383292,...,371634.623480,371656.298301,372138.074786,373294.797427,374262.529226,374406.192808,373742.522251,372804.928815,372154.385738,371956.830325

In [90]:
dataset_5.shape

(895, 302)

In [91]:
dataset_6 = read_csv_from_onedrive('Metro_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv')
dataset_6.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,...,2023-12-31,2024-01-31,2024-02-29,2024-03-31,2024-04-30,2024-05-31,2024-06-30,2024-07-31,2024-08-31,2024-09-30
0,102001,0,United States,country,NaN,122086.021122,122300.809571,122567.178873,123138.488742,123795.997905,...,352438.988641,352871.125244,353663.049434,355203.175029,357057.591856,358490.016311,359051.100806,359199.002432,359442.147602,359892.330217
1,394913,1,"New York, NY",msa,NY,217122.541025,218045.189320,218976.383000,220863.341724,222817.352828,...,636012.173657,638910.016157,642966.642072,648387.612667,654515.723240,659189.389934,662279.916065,665035.225532,668789.821153,672829.144441
2,753899,2,"Los Angeles, CA",msa,CA,221698.801779,222523.802610,223622.695850,225809.124252,228200.391475,...,924860.361784,925014.427975,922051.953295,920931.486350,924412.639390,930330.520459,934301.462201,938697.562418,943906.910962,950360.257525
3,394463,3,"Chicago, IL",msa,IL,152707.070761,152848.433024,153117.659942,153787.429609,154593.081957,...,309382.860474,310041.794022,311424.500644,313828.060374,316689.129728,318801.724714,320020.693936,320754.165504,321672.989771,322672.908701
4,394514,4,"Dallas, TX",msa,TX,125949.506035,126005.604384,126070.095181,126237.571004,126458.383292,...,371634.623480,371656.298301,372138.074786,373294.797427,374262.529226,374406.192808,373742.522251,372804.928815,372154.385738,371956.830325

In [92]:
dataset_6.shape

(895, 302)

In [93]:
# we can count the crime data by state and county or city to have a number of crimes in each county

dataset_7 =read_csv_from_onedrive('US_Crime_Data.csv')
dataset_7.head()

,Date,Title,Organization,City,State,URL,Keyword,Summary
0,2/13/17 9:01,Pizza Hut driver who killed co-worker with sho...,LGBTQ Nation,Phoenix,AZ,http://www.lgbtqnation.com/2017/02/man-accused...,NaN,NaN
1,2/13/17 9:37,Residents of NJ township receiving KKK promoti...,New York Daily News,NaN,NaN,http://www.nydailynews.com/news/national/resid...,NaN,NaN
2,2/13/17 15:37,House OKs bill to expand Kentucky's hate crime...,FOX19,Cincinnati,OH,http://www.fox19.com/story/34494432/house-oks-...,NaN,NaN
3,2/13/17 16:56,"Amid Protests, 'Blue Lives Matter' Bill Passes...",89.3 WFPL,Louisville,KY,http://wfpl.org/amid-protests-blue-lives-matte...,NaN,NaN
4,2/13/17 18:37,Lafourche inmates charged with hate crimes in ...,Daily Comet,Thibodaux,LA,http://www.dailycomet.com/news/20170213/lafour...,NaN,NaN

In [94]:
dataset_7.shape

(6783, 8)

In [95]:
dataset_9 = read_csv_from_onedrive('Zip_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv')
dataset_9.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2000-01-31,...,2023-12-31,2024-01-31,2024-02-29,2024-03-31,2024-04-30,2024-05-31,2024-06-30,2024-07-31,2024-08-31,2024-09-30
0,91982,1,77494,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Fort Bend County,210115.649133,...,487417.408782,488792.727435,490953.961843,493764.629294,496284.689998,497597.965629,497904.508357,497525.166064,497932.811213,498624.058988
1,61148,2,8701,zip,NJ,NJ,Lakewood,"New York-Newark-Jersey City, NY-NJ-PA",Ocean County,138190.224310,...,587035.721219,588629.641020,591203.603657,596333.583567,604688.550311,612076.603761,617531.871790,622433.089855,627699.846638,633902.162029
2,91940,3,77449,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Harris County,103030.935699,...,276821.427264,277174.536177,277871.353968,278961.940193,279916.177474,280446.900967,280407.399117,280174.421115,279993.811959,279806.751424
3,62080,4,11368,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,149541.567251,...,454925.742157,452068.717877,450448.651203,453539.551510,458095.452458,462764.716450,463474.489325,462960.352042,462321.216661,463290.574508
4,91733,5,77084,zip,TX,TX,Houston,"Houston-The Woodlands-Sugar Land, TX",Harris County,102153.208791,...,271678.791950,271724.750316,272249.216554,273247.830993,274236.938985,274737.845371,274571.491387,274279.811068,274007.776630,273755.457541

In [112]:
specific_row = dataset_9.loc[dataset_9['RegionName'] == 22031]
print(specific_row)

      RegionID  SizeRank  RegionName RegionType StateName State     City  \
2669     67121      2700       22031        zip        VA    VA  Fairfax

                                             Metro      CountyName  \
2669  Washington-Arlington-Alexandria, DC-VA-MD-WV  Fairfax County

         2000-01-31  ...     2023-12-31     2024-01-31     2024-02-29  \
2669  214981.079779  ...  702413.762315  704558.105523  707087.932463

         2024-03-31     2024-04-30    2024-05-31     2024-06-30  \
2669  711542.869996  716635.055612  720662.42768  722637.219798

         2024-07-31     2024-08-31     2024-09-30
2669  723730.286628  725289.674321  727631.790478

[1 rows x 306 columns]

In [97]:
dataset_9.shape

(26337, 306)

In [125]:
from sklearn.impute import KNNImputer

dataset_10 = read_excel_from_onedrive('Zillow.com House Price Prediction Data.xlsx')
# Identify non-numeric columns
non_numeric = dataset_10.select_dtypes(exclude=[np.number]).columns

# Drop non-numeric columns
dataset_10_numeric = dataset_10.drop(non_numeric, axis=1)

# Identify columns with all missing values and drop them
cols_with_all_missing = dataset_10_numeric.columns[dataset_10_numeric.isnull().all()]
dataset_10_numeric = dataset_10_numeric.drop(cols_with_all_missing, axis=1)

# Create the imputer
imputer = KNNImputer(n_neighbors=5)

# Impute the missing values
dataset_10_imputed = pd.DataFrame(imputer.fit_transform(dataset_10_numeric), columns=dataset_10_numeric.columns)

# Add the non-numeric columns back to the DataFrame
dataset_10_imputed[non_numeric] = dataset_10[non_numeric]

# Display the first few rows of the imputed DataFrame
dataset_10_imputed.head()

,longitude,countyFIPS,livingAreaValue,monthlyHoaFee,annualHomeownersInsurance,yearBuilt,latitude,rentZestimate,zestimateLowPercent,cityId,...,attributionInfo,homeStatus,resoFacts,datePosted,propertyTypeDimension,mortgageZHLRates,mlsid,listingSubType,country,homeType
0,-149.908070,2020.0,2668.0,106.2,2840.0,1959.0,61.217308,3142.0,12.0,23482.0,...,"{'buyerAgentName': None, 'mlsName': None, 'coA...",OTHER,"{'hasAttachedProperty': False, 'frontageType':...",NaN,Single Family,"{'thirtyYearFixedBucket': {'rate': None, 'rate...",NaN,"{'is_FSBA': False, 'is_comingSoon': False, 'is...",USA,SINGLE_FAMILY
1,-149.908220,2020.0,3179.0,206.2,2934.0,1961.0,61.217136,3113.0,12.0,23482.0,...,"{'buyerAgentName': None, 'mlsName': None, 'coA...",OTHER,"{'hasAttachedProperty': False, 'frontageType':...",NaN,Single Family,"{'thirtyYearFixedBucket': {'rate': None, 'rate...",NaN,"{'is_FSBA': False, 'is_comingSoon': False, 'is...",USA,SINGLE_FAMILY
2,-149.908330,2020.0,3059.0,117.4,4187.0,1983.0,61.217000,4282.0,12.0,23482.0,...,"{'buyerAgentName': None, 'mlsName': None, 'coA...",OTHER,"{'hasAttachedProperty': False, 'frontageType':...",NaN,Single Family,"{'thirtyYearFixedBucket': {'rate': None, 'rate...",NaN,"{'is_FSBA': False, 'is_comingSoon': False, 'is...",USA,SINGLE_FAMILY
3,-143.543004,2020.0,1432.8,220.8,0.0,1982.0,56.865378,2986.4,9.4,25237.8,...,"{'buyerAgentName': None, 'mlsName': None, 'coA...",OTHER,"{'hasAttachedProperty': False, 'frontageType':...",NaN,NaN,NaN,NaN,"{'is_FSBA': False, 'is_comingSoon': False, 'is...",USA,NaN
4,-149.908340,2020.0,1642.0,204.8,2920.0,1947.0,61.216720,3458.0,15.0,23482.0,...,"{'buyerAgentName': None, 'mlsName': None, 'coA...",OTHER,"{'hasAttachedProperty': False, 'frontageType':...",NaN,Single Family,"{'thirtyYearFixedBucket': {'rate': None, 'rate...",NaN,"{'is_FSBA': False, 'is_comingSoon': False, 'is...",USA,SINGLE_FAMILY

In [127]:
# Select non-numeric columns from the original dataset
non_numeric_columns = dataset_10.select_dtypes(exclude=[np.number])

# Combine the imputed numeric data with the non-numeric columns
dataset_10_combined = pd.concat([dataset_10_imputed, non_numeric_columns], axis=1)

# Display the first few rows of the combined DataFrame
dataset_10_combined.head()

,longitude,countyFIPS,livingAreaValue,monthlyHoaFee,annualHomeownersInsurance,yearBuilt,latitude,rentZestimate,zestimateLowPercent,cityId,...,attributionInfo,homeStatus,resoFacts,datePosted,propertyTypeDimension,mortgageZHLRates,mlsid,listingSubType,country,homeType
0,-149.908070,2020.0,2668.0,106.2,2840.0,1959.0,61.217308,3142.0,12.0,23482.0,...,"{'buyerAgentName': None, 'mlsName': None, 'coA...",OTHER,"{'hasAttachedProperty': False, 'frontageType':...",NaN,Single Family,"{'thirtyYearFixedBucket': {'rate': None, 'rate...",NaN,"{'is_FSBA': False, 'is_comingSoon': False, 'is...",USA,SINGLE_FAMILY
1,-149.908220,2020.0,3179.0,206.2,2934.0,1961.0,61.217136,3113.0,12.0,23482.0,...,"{'buyerAgentName': None, 'mlsName': None, 'coA...",OTHER,"{'hasAttachedProperty': False, 'frontageType':...",NaN,Single Family,"{'thirtyYearFixedBucket': {'rate': None, 'rate...",NaN,"{'is_FSBA': False, 'is_comingSoon': False, 'is...",USA,SINGLE_FAMILY
2,-149.908330,2020.0,3059.0,117.4,4187.0,1983.0,61.217000,4282.0,12.0,23482.0,...,"{'buyerAgentName': None, 'mlsName': None, 'coA...",OTHER,"{'hasAttachedProperty': False, 'frontageType':...",NaN,Single Family,"{'thirtyYearFixedBucket': {'rate': None, 'rate...",NaN,"{'is_FSBA': False, 'is_comingSoon': False, 'is...",USA,SINGLE_FAMILY
3,-143.543004,2020.0,1432.8,220.8,0.0,1982.0,56.865378,2986.4,9.4,25237.8,...,"{'buyerAgentName': None, 'mlsName': None, 'coA...",OTHER,"{'hasAttachedProperty': False, 'frontageType':...",NaN,NaN,NaN,NaN,"{'is_FSBA': False, 'is_comingSoon': False, 'is...",USA,NaN
4,-149.908340,2020.0,1642.0,204.8,2920.0,1947.0,61.216720,3458.0,15.0,23482.0,...,"{'buyerAgentName': None, 'mlsName': None, 'coA...",OTHER,"{'hasAttachedProperty': False, 'frontageType':...",NaN,Single Family,"{'thirtyYearFixedBucket': {'rate': None, 'rate...",NaN,"{'is_FSBA': False, 'is_comingSoon': False, 'is...",USA,SINGLE_FAMILY

In [128]:
print(dataset_10_combined.columns)

Index(['longitude', 'countyFIPS', 'livingAreaValue', 'monthlyHoaFee',
       'annualHomeownersInsurance', 'yearBuilt', 'latitude', 'rentZestimate',
       'zestimateLowPercent', 'cityId', 'zestimate', 'zpid', 'countyId',
       'livingArea', 'stateId', 'propertyTaxRate', 'bathrooms', 'bedrooms',
       'price', 'favoriteCount', 'isListedByOwner', 'zestimateHighPercent',
       'pageViewCount', 'buildingId', 'contact_recipients', 'imgSrc',
       'streetAddress', 'county', 'timeZone', 'taxHistory', 'dateSold',
       'state', 'listed_by', 'brokerageName', 'description', 'nearbyHomes',
       'priceHistory', 'schools', 'city', 'providerListingID', 'currency',
       'listingProvider', 'openHouseSchedule', 'mortgageRates', 'address',
       'timeOnZillow', 'url', 'livingAreaUnits', 'building', 'zipcode',
       'attributionInfo', 'homeStatus', 'resoFacts', 'datePosted',
       'propertyTypeDimension', 'mortgageZHLRates', 'mlsid', 'listingSubType',
       'country', 'homeType', 'contact_recipients', 'imgSrc', 'streetAddress',
       'county', 'timeZone', 'taxHistory', 'dateSold', 'state', 'listed_by',
       'brokerageName', 'description', 'nearbyHomes', 'priceHistory',
       'schools', 'city', 'providerListingID', 'currency', 'listingProvider',
       'openHouseSchedule', 'mortgageRates', 'address', 'timeOnZillow', 'url',
       'livingAreaUnits', 'building', 'zipcode', 'attributionInfo',
       'homeStatus', 'resoFacts', 'datePosted', 'propertyTypeDimension',
       'mortgageZHLRates', 'mlsid', 'listingSubType', 'country', 'homeType'],
      dtype='object')

In [116]:
# nan_columns_dataset_1 = dataset_1.columns[dataset_1.isna().any()].tolist()
nan_columns_dataset_10 = dataset_10.columns[dataset_10.isna().any()].tolist()

# print("Columns with NaN in dataset_1:", nan_columns_dataset_1)
print("Columns with NaN in dataset_10:", nan_columns_dataset_10)

"[{'link': 'https://www.greatschools.org/alaska/anchorage/143-Inlet-View-Elementary-School/', 'rating': None, 'totalCount': None, 'distance': 0.5, 'assigned': None, 'name': 'Inlet View Elementary School', 'studentsPerTeacher': None, 'isAssigned': None, 'size': None, 'level': 'Primary', 'grades': 'PK-6', 'type': 'Public'}, {'link': 'https://www.greatschools.org/alaska/anchorage/125-Central-Middle-School-Of-Science/', 'rating': 2, 'totalCount': None, 'distance': 0.9, 'assigned': None, 'name': 'Central Middle School Of Science', 'studentsPerTeacher': None, 'isAssigned': None, 'size': None, 'level': 'Middle', 'grades': '7-8', 'type': 'Public'}, {'link': 'https://www.greatschools.org/alaska/anchorage/175-West-High-School/', 'rating': 5, 'totalCount': None, 'distance': 1.2, 'assigned': None, 'name': 'West High School', 'studentsPerTeacher': None, 'isAssigned': None, 'size': None, 'level': 'High', 'grades': '9-12', 'type': 'Public'}]"

In [114]:
print(dataset_10.columns)

Index(['contact_recipients', 'longitude', 'countyFIPS', 'imgSrc',
       'livingAreaValue', 'streetAddress', 'county', 'monthlyHoaFee',
       'timeZone', 'taxHistory', 'dateSold', 'annualHomeownersInsurance',
       'state', 'listed_by', 'yearBuilt', 'brokerageName', 'description',
       'latitude', 'nearbyHomes', 'priceHistory', 'schools', 'rentZestimate',
       'city', 'providerListingID', 'currency', 'listingProvider',
       'zestimateLowPercent', 'openHouseSchedule', 'mortgageRates', 'address',
       'cityId', 'timeOnZillow', 'url', 'zestimate', 'zpid', 'countyId',
       'brokerId', 'livingAreaUnits', 'comingSoonOnMarketDate', 'livingArea',
       'building', 'stateId', 'zipcode', 'propertyTaxRate', 'attributionInfo',
       'bathrooms', 'homeStatus', 'homeFacts', 'resoFacts', 'datePosted',
       'bedrooms', 'propertyTypeDimension', 'mortgageZHLRates', 'price',
       'favoriteCount', 'isListedByOwner', 'zestimateHighPercent', 'mlsid',
       'listingSubType', 'pageViewCount', 'buildingId', 'country', 'homeType',
       'solarPotential', 'contingentListingType', 'message',
       'resoFacts.daysOnZillow'],
      dtype='object')

In [113]:
dataset_10.shape

(7160, 67)